@model MvcNetCoreZapatillas.Models.Zapatilla

@{
    ViewData["Title"] = "Details";
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#contenido").load("/Zapatillas/_PaginacionZapatillas?idproducto=@Model.IdProducto");
        })
    </script>
 }
    <h1>Detalles @Model.Nombre</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Precio)
            </dd>
        </dl>
    </div>

    <div id="contenido"></div>

